/* ROOT */
:root{
  --cor_padrao: #F17D19;
  --fundo_E1: #131314;
  --fundo_E2: #1b1b1b;
  --fundo_E3: #282a2c;
  --fundo_E4: #323537;
  --fundo_E5: #3f4244;
  --fundo_E6: #4f5254;
  --texto: #e3e3e3;
}
/* Variáveis */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  text-align: center;
  align-items: center;
}

/* LOGIN */
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--fonte1); /* Fonte usada */
}

body.login{
  background-image: url("../img/wallpaperGradiente.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  padding: 5% 12%;
  box-sizing: border-box;
}

main.login{
  overflow: hidden;
  color: var(--texto);
  height: 100%;
  display: flex;
/*--- child elements styles ---*/
  section{flex: 1; 
    height: 100%;};
  section.welcome{
    background-color: #710048;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;};
  section.login{
    background-color: #1b1b1b;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;};
}

/* MAIN */
body.main{
  background-color: var(--fundo_E2);
  color: var(--texto);
}

footer.main{
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  font-size: 2vh;
/*--- child elements styles ---*/
  p{line-height: 3vh;};
}

footer.main section:last-child{
  border-top: 1px solid var(--fundo_E6);
  padding-block: 2vh;
  margin-inline: 25vh;
}

/* DOC */
body.doc{
  background-color: var(--fundo_E1);
  color: var(--texto);
}