/* ROOT */
:root{
  --background: #e8c8a5;
  --padrao: #F17D19;
  --texto: #e3e3e3;
  --c1: #131314;
  --c2: #1b1b1b;
  --c3: #282a2c;
  --c4: #323537;
  --c5: #3f4244;
  --c6: #4f5254;
}

/* Padrão */
html, body{
  background-color: var(--background);
}

/* Variáveis */
.flex-center{
  display: flex;
  justify-content: center;
}

.center{
  align-items: center;
  text-align: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.center{
  text-align: center;
  align-items: center;
}

/* INDEX */
header{  
  img{
    max-width: 5vh;
  }
}

section.index.section{
  output{
    
  }
}

@media (prefers-color-scheme: dark){
  :root{
    --background: #a5dee8;
    --padrao: #196cf1;
    --texto: #b5b5b5;
  }
}